#ifndef __REFLECTION_PARSER__
#ifndef {{generated_header_gaurd}}
#define {{generated_header_gaurd}}

namespace Json {
    class Value;
}
namespace sigma {
namespace json {
{%- for enum in database.enums %}

    void to_json(const {{enum}}& source, Json::Value& output);

    bool from_json(const Json::Value& source, {{enum}}& output);
{%- endfor -%}
{%- for class in database.classes %}

    void to_json(const {{class}}& source, Json::Value& output);

    bool from_json(const Json::Value& source, {{class}}& output);
{%- endfor -%}
{%- for world in database.worlds %}
    
    void to_json(const {{world}}& source, Json::Value& output);

    bool from_json(const Json::Value &source, {{world}}& output);
{%- endfor %}
}
}

#endif // {{generated_header_gaurd}}
#endif // __REFLECTION_PARSER__
