#ifndef __REFLECTION_PARSER__
#ifndef {{generated_gaurd}}
#define {{generated_gaurd}}

{% for class in database.classes if class.std140 %}
layout (std140{% if class.binding %}, binding = {{class.binding}}{% endif %}) uniform {{class.glsl_name}}
{
    {% for field in class.fields -%}
    {{field.glsl_type}} {{field.name}};
    {% endfor %}
};
{% endfor %}

#endif // {{generated_gaurd}}
#endif // __REFLECTION_PARSER__
